@media (max-width:767px) {
    .post-author-img{
        display: none;
    }

    /*================================================== */
    /* Blog Section - Start
    ================================================== */

    .rs-carousel{
        .owl-nav button.owl-prev, 
        .owl-nav button.owl-next{
         top: 100%;
        bottom: 0;
    }
    .owl-nav button.owl-prev{
        left: 30%;
    }
    .owl-nav button.owl-next{
        right: 30%;
    }
    }
    
    /*================================================== */
    /* Blog Section - End
    ================================================== */
    .comments, .Minutes{
        display: none;
    }
}

